table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}
#first{
    color: blue;
}
#second{
    color: cyan;
    padding-left: 14px;
    padding-bottom: 14px;
}
.firstclass{
    color: red;
    text-align: center;
}